################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/CloudAppRef
/CloudAppRef.UI2Services/.vs/CloudAppRef.UI2Services/v15
